<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hasse - MFD Project</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400,700" rel="stylesheet">
</head>

<body>

    <nav id="miniNav">

        <ul class="miniNav">
            <li> <a href="#">Curency - dropdown</a> </li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Cart - dropdown</a></li>
        </ul>
    </nav>
    <nav id="mainNav">
        <a href="#"> <img src="img/logo.png" alt="#"> </a>
        <ul class="mainNav">
            <li>
                <a href="#">MENS - dropdown</a>
            </li>
            <li>
                <a href="#">WOMENS - dropdown</a>
            </li>
            <li>
                <a href="#">THE BRAND</a>
            </li>
            <li>
                <a href="#"> LOCAL STORES - dropdown</a>
            </li>
            <li>
                <a href="#">LOOK BOOK - dropdown </a>
            </li>
            <li>
                <a href="#">Search bar</a>
            </li>
        </ul>

    </nav>


    <div class="hero">
        <img src="img/hero.png" alt="">
    </div>

    <div class="tabs">
        <hr>
        <ul>
            <li><a href="#">POPULAR</a></li>
            <li><a href="#">NEW ARRIVALS</a></li>
            <li><a href="#">BEST SELLERS</a></li>
            <li><a href="#">SPECIAL OFFERS</a></li>
            <li><a href="#">COMMING SOON</a></li>
        </ul>
    </div>


    <div class="products">
        <div class="item1 product">
            <img src="img/item1.png" alt="">
        </div>
        <div class="item2 product">
            <img src="img/item2.png" alt="">
        </div>
        <div class="item3 product">
            <img src="img/item3.png" alt="">
        </div>
        <div class="item4 product">
            <img src="img/item4.png" alt="">
        </div>
        <div class="item5 product">
            <img src="img/item5.png" alt="">
        </div>
        <div class="item6 product">
            <img src="img/item6.png" alt="">
        </div>
        <hr>
    </div>

    <div class="lookBook">
        <div class="mens">
            <img src="img/lookBook.png" alt="">
            <h2>MEN'S</h2>
            <H2>LOOKBOOK</H2>
            <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam natus perspiciatis aliquam obcaecati dolor quis sint rerum.</P>
            <button>VIEW NOW</button>
        </div>
        <div class="womens">
            <img src="img/lookBook.png" alt="">
        </div>
        <div class="your">
            <img src="img/lookBook.png" alt="">
        </div>
    </div>

    <footer>
        <div class="footerLinks">
            <ul>
                <h5>INFORMATION</h5>
                <li class="item1"> <a href="#"> The brand </a> </li>
                <li class="item1"> <a href="#"> Local stores </a> </li>
                <li class="item1"> <a href="#"> Customer serivce </a> </li>
                <li class="item1"> <a href="#"> Privacy &amp; cookies</a> </li>
                <li class="item1"> <a href="#"> Site map </a> </li>
            </ul>
            <ul>
                <h5>WHY BUY FROM US</h5>
                <li class="item1"> <a href="#"> Shipping &amp; returns</a> </li>
                <li class="item1"> <a href="#"> Secure shopping </a> </li>
                <li class="item1"> <a href="#"> Testimonials </a> </li>
                <li class="item1"> <a href="#"> Award winning </a> </li>
                <li class="item1"> <a href="#"> Ethical trading </a> </li>
            </ul>
            <ul>
                <h5>YOUR ACCOUNT</h5>
                <li class="item1"> <a href="#"> Sign in </a> </li>
                <li class="item1"> <a href="#"> Register </a> </li>
                <li class="item1"> <a href="#"> View cart </a> </li>
                <li class="item1"> <a href="#"> View your lookbook </a> </li>
                <li class="item1"> <a href="#"> Track an order </a> </li>
                <li class="item1"> <a href="#"> Update information </a> </li>
            </ul>
            <ul>
                <h5>LOOKBOOK</h5>
                <li class="item1"> <a href="#"> Latest posts </a> </li>
                <li class="item1"> <a href="#"> Men's lookbook </a> </li>
                <li class="item1"> <a href="#"> Women's lookbook </a> </li>
                <li class="item1"> <a href="#"> Lookbook RSS feed </a> </li>
                <li class="item1"> <a href="#"> View your lookbook </a> </li>
                <li class="item1"> <a href="#"> Delete your lookbook </a> </li>
            </ul>
            <ul>
                <h5>CONTACT DETAILS</h5>
                <li class="item1"> <a href="#"> Head Office: Avenue Fashion, <br> 180-182 Regent Street, London. </a> </li>
                <li class="item1"> <a href="#"> Telephone: 0123-456-789 </a> </li>
                <li class="item1"> <a href="#"> Email: support@yourwebsite.com </a> </li>

            </ul>
        </div>
        <div class="award">
            <!-- Skift ud med content -->
            <img src="img/award.png" alt="">
        </div>
        <div class="social">
            <img src="img/social.png" alt="">
        </div>
        <div class="bottomBar">
            <p class="copyright">© 2016 Avenue Fashion™</p>
            <p class="author">RobbyDesigns.com</p>
            <p class="site">Dev by Loremipsum.com™</p>
        </div>
    </footer>

</body>

</html>